<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../stylesheets/styles.css">
    <title>Welcome</title>
</head>
<body>
    <center><h1>Welcome <%=name%></h1></center>

    <input type="text" name="address" id="address" placeholder="Enter the address">
    <button id="btn">submit</button>
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../javascript/script.js"></script>
</body>
</html>
