<!DOCTYPE html>
<html lang="en">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title>Index</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <title>Welcome <%=name%></title>
</head>
<body>

    <input type="text" name="address" id="address" placeholder="Enter the address" required>
    <button id="btn">submit</button>
    <form action="/upload" method="post" enctype="multipart/form-data" id="file_upload_form">
        <input type="file" name="file" id="file">
        <button type="submit" id="file_btn">upload file</button>
    </form>
    <a href="/auth/logout">Logout</a>
    <div id="map"></div>

     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../javascript/script.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA097zJ3ynm9KbAIkYOlse8Kp7tz4v9S9g&callback=initMap"
    async defer></script>
    <script>
        console.log("<%=info%>");
        for(v of "<%=info%>".split(",")){
            console.log(v);
            var url = "https://maps.googleapis.com/maps/api/geocode/json?address="+v+"&key="+"AIzaSyC4g5BpF0ntigP5d3LfulYDUUT0bxWvC54";
            $.get(url,(ata)=>{
                //console.log(res);
                var res = ata.results[0].geometry.location;
                var marker = new google.maps.Marker({
                  position: res,
                  map: map,
                  title: 'Hello World!'
                });
            });
        }
    </script>


</body>
</html>
