<!DOCTYPE html>
<html lang="en">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title>Index</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* The location pointed to by the popup tip. */
     .popup-tip-anchor {
       height: 0;
       position: absolute;
       /* The max width of the info window. */
       width: 200px;
     }
     /* The bubble is anchored above the tip. */
     .popup-bubble-anchor {
       position: absolute;
       width: 100%;
       bottom: /* TIP_HEIGHT= */ 8px;
       left: 0;
     }
     /* Draw the tip. */
     .popup-bubble-anchor::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       /* Center the tip horizontally. */
       transform: translate(-50%, 0);
       /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
       width: 0;
       height: 0;
       /* The tip is 8px high, and 12px wide. */
       border-left: 6px solid transparent;
       border-right: 6px solid transparent;
       border-top: /* TIP_HEIGHT= */ 8px solid white;
     }
     /* The popup bubble itself. */
     .popup-bubble-content {
       position: absolute;
       top: 0;
       left: 0;
       transform: translate(-50%, -100%);
       /* Style the info window. */
       background-color: white;
       padding: 5px;
       border-radius: 5px;
       font-family: sans-serif;
       overflow-y: auto;
       max-height: 60px;
       box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
     }

    </style>

    <title>Welcome</title>
</head>
<body>

    <input type="text" name="address" id="address" placeholder="Enter the address" required>
    <button id="btn">submit</button>
    <form action="/upload" method="post" enctype="multipart/form-data" id="file_upload_form">
        <input type="file" name="file" id="file">
        <button type="submit" id="file_btn">upload file</button>
    </form>
    <a href="/auth/logout">Logout</a> <br>
    <br> <div id="desc" style="width:100%;color:white;background-color:black;height:24px;text-align:center">Description</div>
    <div id="map"></div>

     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../javascript/script.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYgWgepoCOXHvxoGW9n0z30nCRC9tHHvc&callback=initMap"
    async defer></script>
    <script>

        $.get("/getdata",(res)=>{
          for(v of res){
            var url = "https://maps.googleapis.com/maps/api/geocode/json?address="+v.Address +"&key="+"AIzaSyDYgWgepoCOXHvxoGW9n0z30nCRC9tHHvc";
            $.get(url,(ata)=>{
                //console.log(res);
                var re = ata.results[0].geometry.location;
              if(v.OEM==="Siemens"){
                var marker = new google.maps.Marker({
                  position: re,
                  map: map,
                  title: 'Hello World!',
                  data:v
                });
              }
              else{
                var marker = new google.maps.Marker({
                  position: re,
                  map: map,
                  title: 'Hello World!',
                  data:v,
                  icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                });
              }
                marker.addListener('click', function() {
                  map.setZoom(8);
                  map.setCenter(marker.getPosition());
                  $("#desc").html("Equipment ID: "+v.Equipment+", Serial: "+v.Serial+", Account: "+v.Account+", Mode: "+v.Mode+", Address: "+v.Address+", MW: "+v.MW)
                });
            });
          }
        });
    </script>


</body>
</html>
